body {
    background-color: rgb(50, 50, 49);
    color: #ffff;
    text-align: center;
}
h1{
    color:#ffffff;
    text-decoration: underline #e91e63 4px;
}
h2 {
    color:#ffffff;
    text-decoration: underline #e91e63 4px;
}

h3 {
    border: solid 2px #e91e63;
}

input {
    background-color: #e0ddde;
    color: #111111;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.botones{
    margin-top: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: .625rem   ;
}
button:hover{
    background-color: #e91e63;
}
.contenedor{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.info-alumnos {
    width: 80%;
    border-collapse: collapse;
    font-size: .625rem;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.info-alumnos thead tr {
    background-color: #980081;
    color: #ffffff;
    text-align: middle;
}

.info-alumnos th,
.info-alumnos td {
    padding: 12px 15px;
}

.info-alumnos tbody tr {
    border-bottom: 1px solid #dddddd;
}



.info-alumnos tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}